.background {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;


}
.button {
    border: black solid 3px;
    
}
.rgb {
    background-color: white;
    
}